<section id="txt1" class="sections">
    <div id="banner">
        <img src="../../../assets/img1.png" alt="">
    </div>
    <div class="txtHome">
         <a id="ancora"  href="../home/home.component.html">
             < Home
        </a> 
     </div>
    <h1 id="titulo">Singapure</h1>
    <p id="corpo"> A cidade-estado de Singapura é composta pela ilha do mesmo nome e por 54 outras pequenas ilhas,
        abrangendo
        uma superfície de 640 quilómetros quadrados; a população é, atualmente, de cerca de três milhões de
        habitantes. Chineses (80 por cento), hindus, malaios e euro-asiáticos convivem numa urbe que apresenta um
        carácter aberto e cosmopolita.

        Situada na saída do estreito de Malaca, Singapura é uma nação independente desde 1965, altura em que se
        separou da Federação da Malásia. Desde então a sua capital não parou de crescer, sendo considerada como uma
        das cidades asiáticas mais prósperas e um dos termómetros econômicos daquele continente.

        A cidade situa-se muito perto da linha do Equador e, por esse motivo, desfruta de um clima cálido, com uma
        temperatura média anual de 30°C, o que permite visitá-la em qualquer altura do ano. As chuvas podem ser
        abundantes durante a época das monções, entre Novembro e Janeiro, mas normalmente não duram mais do que
        algumas horas, após o que o sol volta a brilhar.</p>
</section> 
