<section id="txt1" class="sections">
    <!-- <ng-container *ngFor="let noticia of noticias">
        <div id="banner" *ngIf="noticia.id == idDaUrl"> -->
            <img src= {{noticia.img}} alt="">
            <div class="txtHome">
                <a href="http://localhost:4200/" id="ancora">
                    < Home </a> 
                    
            </div>
            <p id="data">
                {{noticia.dataPublicacao}}
            </p>
            <h1 id="titulo">
                 {{noticia.titulo }}
                </h1>
                <p id="not">
                    {{noticia.not}}
                </p>
            <p id="corpo">
                {{noticia.corpo}}
            </p>
</section>