body {
    margin: 0;
    /* background-color: #1E1E1E; */

}


.container {
    background-color: lightgrey;
}

/*Nav*/
.container .nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.container .nav a {
    display: flex;
    justify-content: right;
    text-align: center;
    margin: 0 20px 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #000000;


}


#banner {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
} 

#txt1.sections  img {
    width: 100%;
    height: 500px; 
    
}

.sections h1{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    font-size: 30px;
    color: rgb(74, 56, 90);
}

.sections p{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}


.p{
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.sections img{
    width: 100%;
    height: 500px;
    
}

#lion.sections  h1{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(74, 56, 90);
}

#lion.sections p{
    text-align: center;
    padding: 10px 20px;
}

#garden.sections img{
    width: 100%;
    height: 400px;
    
}

#garden.sections  h1{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(74, 56, 90);
}

#garden.sections p{
    text-align: center;
    padding: 10px 20px;
}

#marina.sections img{
    width: 100%;
    height: 400px;
    
}

#marina.sections  h1{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(74, 56, 90);
}

#marina.sections p{
    text-align: center;
    padding: 10px 20px;
}

.sections {
    display: none;
}

.section2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 0px 0px;
    width: 100%;
    height: 300px;
    margin: auto;
    /* background-image: url(./Rectangle\ 2.png); */
    background-position: center top;
    background-size: cover;
}

.section2 span {
    position: absolute;
    font-size: 20px;
    color: white;
    left: 60px;
    top: 90px;
}

.section2 h1 {
    position: absolute;
    font-size: 60px;
    color: white;
    left: 60px;
    top: 130px;

}

.section2 h3 {
    position: absolute;
    font-size: 40px;
    color: white;
    left: 60px;
    top: 200px;

}

.section2 h5 {
    position: absolute;
    font-size: 25px;
    color: blue;
    left: 60px;
    top: 245px;

}

.txtHome  {
    color: #00D66F;
    margin: 10px 50px 0px;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;


}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.texto  {
    position: absolute;
    top: 500px;
    color: white;
    padding: 0 40px 0 40px;
    margin: 0;
    text-align: center;
    font-size: 17px;
    font-weight: 400px;
    line-height: 23px;
    letter-spacing: 0em;
}

#ancora {
    color: #00D66F;
    margin: 10px 50px 0px;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
































/* 
@media (min-width: 1261px) {
    .section2 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0px 0px 0px;
        width: 100%;
        height: 600px;
        margin: auto;
        background-image: url(./MB1.jpg.crdownload);
        background-position: center top;
        background-size: cover;

    }

    .section2 span {
        position: absolute;
        font-size: 20px;
        color: white;
        left: 20px;
        top: 90px;
    }

    .section2 .bay {
        position: absolute;
        font-size: 40px;
        color: rgb(175, 58, 58);
        top: 100px;
        left: 15px;
    }
    .section2 .singapore{
        visibility: hidden;
    }
    .section2 .botanic {
        visibility: hidden;
    }
    .section2 .merlion {
        visibility: hidden;
    }
    .section2 h1{
        visibility: hidden;
    }

    .section2 h3 {
        color: rgb(175, 58, 58);
        font-size: 30px;
        left: 15px;
        top: 170px;

    }

    .section2 h5 {
        font-size: 25px;
        left: 15px;
        top: 210px;

    }
    .txtHome p {
        color: #00D66F;
        margin: 10px 50px 0px;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    
    
    }
    
    .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .texto .marina {
        position: absolute;
        top: 800px;
        color: white;
        padding: 0 40px 0 40px;
        margin: 0;
        text-align: center;
        font-size: 17px;
        font-weight: 400px;
        line-height: 23px;
        letter-spacing: 0em;
    }
    .texto .txt1 {
        visibility: hidden;
    }
    .texto .lion {
        visibility: hidden;
    }
    .texto p {
        visibility: hidden;
    }
    .texto .garden {
        visibility: hidden;
    }

}













@media (min-width: 1024px) and (max-width: 1260px) {
    .section2 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0px 0px 0px;
        width: 100%;
        height: 600px;
        margin: auto;
        background-image: url(./GARDEN.jpg);
        background-position: center top;
        background-size: cover;

    }

    .section2 span {
        position: absolute;
        font-size: 20px;
        color: white;
        left: 20px;
        top: 90px;
    }

    .section2 .botanic {
        position: absolute;
        font-size: 40px;
        color: white;
        top: 100px;
        left: 15px;
    }
    .section2 h1{
        visibility: hidden;
    }
    .section2 .singapore{
        visibility: hidden;
    }
    .section2 .merlion{
        visibility: hidden;
    }
    .section2 .bay{
        visibility: hidden;
    }
    
    

    .section2 h3 {
        font-size: 30px;
        left: 15px;
        top: 170px;

    }

    .section2 h5 {
        font-size: 25px;
        left: 15px;
        top: 210px;
        color: #000;

    }
    .txtHome p {
        color: #00D66F;
        margin: 10px 50px 0px;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    
    
    }
    
    .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .texto .garden {
        position: absolute;
        top: 760px;
        color: white;
        padding: 0 40px 0 40px;
        margin: 0;
        text-align: center;
        font-size: 17px;
        font-weight: 400px;
        line-height: 23px;
        letter-spacing: 0em;
    }
    .texto p {
        visibility: hidden;
    }
    .texto .lion{
        visibility: hidden;
    }
    .texto .txt1{
        visibility: hidden;
    }
    .texto .marina{
        visibility: hidden;
    }
}

















@media (min-width: 769px) and (max-width: 1024px) {
    .section2 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0px 0px 0px;
        width: 100%;
        height: 300px;
        margin: auto;
        background-image: url(./LION1.jpg);
        background-position: center top;
        background-size: cover;

    }

    .section2 .merlion {
        position: absolute;
        font-size: 40px;
        color: white;
        top: 100px;
        left: 15px;
    }
    .section2 .singapore{
        visibility: hidden;
    }
    .section2 h1{
        visibility: hidden;
    }
    .section2 .botanic{
        visibility: hidden;
    }
    .section2 .bay{
        visibility: hidden;
    }
    

    .section2 h3 {
        font-size: 30px;
        left: 15px;
        top: 170px;

    }

    .section2 h5 {
        font-size: 25px;
        left: 15px;
        top: 210px;

    }
    .txtHome p {
        color: #00D66F;
        margin: 10px 50px 0px;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    
    
    }
    
    .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .texto .lion {
        position: absolute;
        top: 450px;
        color: white;
        padding: 0 40px 0 40px;
        margin: 0;
        text-align: center;
        font-size: 17px;
        font-weight: 400px;
        line-height: 23px;
        letter-spacing: 0em;
    }
    .texto .txt1{
        visibility: hidden
    }
    .texto p {
        visibility: hidden;
    }
    .texto .garden {
        visibility: hidden;
    }
    .texto .marina{
        visibility: hidden;
    }
} */

























/* @media (min-width: 300px) and (max-width: 768px) {
    .section2 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0px 0px 0px;
        width: 100%;
        height: 200px;
        margin: auto;
        background-image: url(./Singapura.jpg);
        background-position: center top;
        background-size: cover;
    }

    .section2 span {
        position: absolute;
        font-size: 10px;
        color: white;
        left: 0px;
        top: 70px;
    }

    .section2 .singapore {
        position: absolute;
        font-size: 30px;
        color: white;
        left: 15px;
        top: 130px;
    }
    .section2 h1{
        visibility: hidden;
    }
    .section2 .merlion{
        visibility: hidden;
    }
    .section2 .botanic{
        visibility: hidden;
    }
    .section2 .bay{
        visibility: hidden;
    }
    

    .section2 h3 {
        position: absolute;
        font-size: 18px;
        color: white;
        left: 15px;
        top: 180px;

    }

    .section2 h5 {
        position: absolute;
        font-size: 18px;
        color: #000;
        left: 15px;
        top: 200px;

    }
    .txtHome p {
        color: #00D66F;
        margin: 10px 50px 0px;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    
    
    }
    
    .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .texto .txt1 {
        position: absolute;
        top: 350px;
        color: white;
        padding: 0 40px 0 40px;
        margin: 0;
        text-align: center;
        font-size: 17px;
        font-weight: 400px;
        line-height: 23px;
        letter-spacing: 0em;
    }
    .texto p {
        visibility: hidden;
    }
    .texto .lion {
        visibility: hidden;
    }
    .texto .garden {
        visibility: hidden;
    }
    .texto .marina{
        visibility: hidden;
    }
  
} */