<header>
  <!-- <section class="container"> -->
  <div class="nav">
    <div class="img1">
      <a href="https://itlean.com.br/">
      <img src="../assets/./logo.png" alt="">
    </a>
    </div>


    <div class="home">
      <a href="../interna/interna.component.html">Home</a>
    </div>
  </div>
  <!-- </section> -->
</header>



<app-home></app-home>
<app-interna></app-interna>



<!-- <h1>
    {{ title }}
  </h1>
  <h2>
      {{ nome }}
  </h2> -->


<!-- <button type="button"(click)="fazConsoleLog()">
    Escreva no console
  </button> -->