.home {
    position: absolute;
    right: 10px;
    text-align: center;
    margin: 22px;

}

.home a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
}

.sectionImg {
    width: 100%;
    position: absolute;
    justify-content: center;
    flex-direction: column;

}

.blocoImg {
    width: 80%;
    background-image: url(../../../assets/img1.png);
    height: 450px;
    margin: auto;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;

}

span {
    position: absolute;
    font-size: 23px;
    color: white;
    left: 0;
    top: 40px;
    margin: 0 50px;
    font-weight: 600;

}

h1 {
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 40px;
    color: rgb(108, 108, 192);
    left: 0;
    text-decoration: none;
    top: 100px;
    margin: 0 40px;
    top: 140px;
}

h3 {
    position: absolute;
    font-size: 30px;
    color: black;
    left: 0;
    margin: 0 40px;
    top: 190px;

}

h5 {
    position: absolute;
    font-size: 20px;
    color: black;
    left: 0;
    margin: 0 40px;
    top: 240px;

}